@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h2>Cadastro de Produtos</h2>
    </div>
    <div>
        <a href="http://localhost:61880/Produtos/Create?Length=8">
            <img src="~/Imagens/Cadastrar.png" />
        </a>
    </div>

</div>